* {
    margin: 0 auto !important;
    padding: 0 auto !important;
}

.collapse,
iframe,
img,
.jumbotron {
    width: 100% !important;
    position: relative !important;
}
/* 
.btn-link {
    width: 16em;
} */
/* .card-header:first-child {
    margin-top: 3em !important;
} */
nav {
    overflow: auto;
    margin-bottom: 3em !important;
}
.accordion {
    margin-top: 7% !important;
}
.card {
  width: 100% !important;
  margin: .5rem 0 1rem 0 !important;
 
}

h4 {
    font-size: 1.5em !important;
    /* padding-bottom: 5em !important; */
}

span.badge {
    text-align: center !important;
    float: none !important;
}

iframe {
    text-align: center !important;
}
.card-body {
    width: 100% !important;
    /* margin-right: 25% !important; */
    /* position: relative !important; */
    
}
.card-header,
.card-header .btn {
    padding: 0 !important;
    width: 100% !important;
    /* height: 100% !important; */
    background-color: white !important;
    font-size: 1.5em;
    text-transform: none;
}
.list-group-item {
    /* position: relative; */
    width: 100% !important;
    text-align: center !important;
    /* right: 2.5em !important; */
}
.primary {
    width: 4em !important;
}
nav a {
    float: right;
}

/* #ex-title {
    font-size: 3em !important;
    padding-bottom: 1em;
} */

.jumbotron {
    padding: 0 0 2em 0 !important;
    margin-bottom: 2em !important;
    /* width: 75%; */
    height: 100% !important;
}

#demo {
    width: 75%;
}